######################################################################################################################################################

# @project        Visual Studio Code Toolbox
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        MIT

######################################################################################################################################################

.DS_Store
out
node_modules
*.vsix

######################################################################################################################################################
