######################################################################################################################################################

# @project        Visual Studio Code Toolbox
# @file           .vscodeignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        MIT

######################################################################################################################################################

.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
yarn.lock
.editorconfig

######################################################################################################################################################
